.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0.5rem 5rem ;
    
  }
  
  .lefttop {
    display: flex;
    align-items: center;
  }
  
  .phone,
  .email {
    margin-right: 5px;
  }
  
  .phone-label,
  .email-label {
    margin-left: 5px;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .help {
    margin-right: 10px;
  }
  
  .country {
    margin-right: 10px;
  }
  
  .currency {
    font-weight: bold;
  }
  